@model List<ExchangeRate>

@{
    ViewData["Title"] = "CurrencyConverterApp";
}
<!DOCTYPE html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>

    <div class="main-container">
        <div class="tapestry-wrapper">
            <div class="preset--light">
                <div class="tapestry-card-content">
                    <div class="np-theme-personal">
                        <!-- Currency Converter Section -->
                        <div class="_ccConverter_agd50_1">
                            <div class="_ccCalculator_agd50_10">
                                <!-- Source Currency Input -->
                                <div class="form-group">
                                    <label for="selectedCurrency">Source Currency</label>
                                    <select class="form-control" id="selectedCurrency">
                                        <!-- Add options for source currencies -->
                                    <option value="USD" selected>USD (US Dollar)</option>
                                    <option value="TRY">TRY (Turkish Lira)</option>
                                    <option value="EUR">EUR (Euro)</option>
                                    <option value="AUD">AUD (Australian Dollar)</option>
                                    <option value="DKK">DKK (Danish Krone)</option>
                                    <option value="GBP">GBP (British Pound Sterling)</option>
                                    <option value="KWD">KWD (Kuwaiti Dinar)</option>
                                    <option value="NOK">NOK (Norwegian Krone)</option>
                                    <option value="JPY">JPY (Japanese Yen)</option>
                                    <option value="RUB">RUB (Russian Ruble)</option>
                                    <!--<option value="CHF">CHF (Swiss Franc)</option>-->
                                    <!--<option value="SEK">SEK (Swedish Krona)</option>-->
                                    <!--<option value="CAD">CAD (Canadian Dollar)</option>-->
                                    <!--<option value="SAR">SAR (Saudi Riyal)</option>-->
                                    <!--<option value="BGN">BGN (Bulgarian Lev)</option>-->
                                    <!--<option value="RON">RON (Romanian Leu)</option>-->
                                    <!--<option value="IRR">IRR (Iranian Rial)</option>-->
                                    <!--<option value="CNY">CNY (Chinese Yuan)</option>-->
                                    <!--<option value="PKR">PKR (Pakistani Rupee)</option>-->
                                    <!--<option value="QAR">QAR (Qatari Riyal)</option>-->
                                    <!--<option value="KRW">KRW (South Korean Won)</option>-->
                                    <!--<option value="AZN">AZN (Azerbaijani Manat)</option>-->
                                    <!--<option value="AED">AED (United Arab Emirates Dirham)</option>-->
                                        <!-- Add more currency options as needed -->
                                    </select>
                                </div>

                                <!-- Amount Input -->
                                <div class="form-group">
                                    <label for="amount">Amount</label>
                                    <input class="form-control" id="amount" type="number" step="any" placeholder="Enter amount" value="1">
                                </div>

                                <!-- Target Currency Input -->
                                <div class="form-group">
                                    <label for="toCurrency">Target Currency</label>
                                    <select class="form-control" id="toCurrency">
                                        <!-- Add options for target currencies -->
                                    <option value="USD">USD (US Dollar)</option>
                                    <option value="TRY" selected>TRY (Turkish Lira)</option>
                                    <option value="EUR">EUR (Euro)</option>
                                    <option value="AUD">AUD (Australian Dollar)</option>
                                    <option value="DKK">DKK (Danish Krone)</option>
                                    <option value="GBP">GBP (British Pound Sterling)</option>
                                    <option value="KWD">KWD (Kuwaiti Dinar)</option>
                                    <option value="NOK">NOK (Norwegian Krone)</option>
                                    <option value="JPY">JPY (Japanese Yen)</option>
                                    <option value="RUB">RUB (Russian Ruble)</option>
                                    <!--<option value="CHF">CHF (Swiss Franc)</option>-->
                                    <!--<option value="SEK">SEK (Swedish Krona)</option>-->
                                    <!--<option value="CAD">CAD (Canadian Dollar)</option>-->
                                    <!--<option value="SAR">SAR (Saudi Riyal)</option>-->
                                    <!--<option value="BGN">BGN (Bulgarian Lev)</option>-->
                                    <!--<option value="RON">RON (Romanian Leu)</option>-->
                                    <!--<option value="IRR">IRR (Iranian Rial)</option>-->
                                    <!--<option value="CNY">CNY (Chinese Yuan)</option>-->
                                    <!--<option value="PKR">PKR (Pakistani Rupee)</option>-->
                                    <!--<option value="QAR">QAR (Qatari Riyal)</option>-->
                                    <!--<option value="KRW">KRW (South Korean Won)</option>-->
                                    <!--<option value="AZN">AZN (Azerbaijani Manat)</option>-->
                                    <!--<option value="AED">AED (United Arab Emirates Dirham)</option>-->
                                        <!-- Add more currency options as needed -->
                                    </select>
                                </div>

                                <!-- Selected Date Input -->
                                <div class="form-group">
                                    <label for="selectedDate">Selected Date</label>
                                    <input class="form-control" id="selectedDate" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                </div>

                                <!-- Conversion Information -->
                                <div class="form-group">
                                    <label for="converted-amount">Converted Amount</label>
                                <input class="form-control" id="converted-amount" type="text" readonly>
                                </div>

                                <!-- Convert Button -->
                                <div class="_ccCalculator__cta_agd50_90">
                                    <button class="btn btn-primary btn-lg btn-block" id="convert-button" onclick="updateConvertedAmount()">Convert</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="exchange-rates-table">
        <h2 class="table-title">Foreign exchange rates of the day</h2>

            <div class="table-responsive">
                <table class="table table-bordered table-hover modern-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Bid</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="exchange-rate-table-body">

                        @foreach (var rate in Model.Where(r => r.Date.Date == DateTime.Now.Date))
                        {
                            <tr>
                                <td>@rate.FromCurrency</td>
                                <td>@rate.ToCurrency</td>
                                <td>@rate.BuyRate.ToString("F3")</td>
                                <td>@rate.Date.ToString("yyyy-MM-dd")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="~/js/currency-converter.js"></script>
