@model List<ExchangeRate>

@{
    ViewData["Title"] = "CurrencyConverterApp";
}
<!DOCTYPE html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>

    <div class="main-container">
        <div class="tapestry-wrapper">
            <div class="preset--light">
                <div class="tapestry-card-content">
                    <div class="np-theme-personal">
                        <!-- Currency Converter Section -->
                        <div class="_ccConverter_agd50_1">
                            <div class="_ccCalculator_agd50_10">
                                <!-- Source Currency Input -->
                                <div class="form-group">
                                    <label for="selectedCurrency">Source Currency</label>
                                    <select class="form-control" id="selectedCurrency">
                                        <!-- Add options for source currencies -->
                                        <option value="USD" selected>USD</option>
                                        <option value="TRY">TRY</option>
                                        <option value="EUR">EUR</option>
                                        <option value="AUD">AUD</option>
                                        <option value="DKK">DKK</option>
                                        <option value="GBP">GBP</option>
                                        <option value="KWD">KWD</option>
                                        <option value="NOK">NOK</option>
                                        <option value="JPY">JPY</option>
                                        <option value="RUB">RUB</option>
                                        @*<option value="CHF">CHF</option>*@
                                        @*<option value="SEK">SEK</option>*@
                                        @*<option value="CAD">CAD</option>*@
                                        @*<option value="SAR">SAR</option>*@
                                        @*<option value="BGN">BGN</option>*@
                                        @*<option value="RON">RON</option>*@
                                        @*<option value="IRR">IRR</option>*@
                                        @*<option value="CNY">CNY</option>*@
                                        @*<option value="PKR">PKR</option>*@
                                        @*<option value="QAR">QAR</option>*@
                                        @*<option value="KRW">KRW</option>*@
                                        @*<option value="AZN">AZN</option>*@
                                        @*<option value="AED">AED</option>*@
                                        <!-- Add more currency options as needed -->
                                    </select>
                                </div>

                                <!-- Amount Input -->
                                <div class="form-group">
                                    <label for="amount">Amount</label>
                                    <input class="form-control" id="amount" type="number" step="any" placeholder="Enter amount" value="1">
                                </div>

                                <!-- Target Currency Input -->
                                <div class="form-group">
                                    <label for="toCurrency">Target Currency</label>
                                    <select class="form-control" id="toCurrency">
                                        <!-- Add options for target currencies -->
                                        <option value="USD">USD</option>
                                        <option value="TRY" selected>TRY</option>
                                        <option value="EUR">EUR</option>
                                        <option value="AUD">AUD</option>
                                        <option value="DKK">DKK</option>
                                        <option value="GBP">GBP</option>
                                        <option value="KWD">KWD</option>
                                        <option value="NOK">NOK</option>
                                        <option value="JPY">JPY</option>
                                        <option value="RUB">RUB</option>
                                        @*<option value="CHF">CHF</option>*@
                                        @*<option value="SEK">SEK</option>*@
                                        @*<option value="CAD">CAD</option>*@
                                        @*<option value="SAR">SAR</option>*@
                                        @*<option value="BGN">BGN</option>*@
                                        @*<option value="RON">RON</option>*@
                                        @*<option value="IRR">IRR</option>*@
                                        @*<option value="CNY">CNY</option>*@
                                        @*<option value="PKR">PKR</option>*@
                                        @*<option value="QAR">QAR</option>*@
                                        @*<option value="KRW">KRW</option>*@
                                        @*<option value="AZN">AZN</option>*@
                                        @*<option value="AED">AED</option>*@
                                        <!-- Add more currency options as needed -->
                                    </select>
                                </div>

                                <!-- Selected Date Input -->
                                <div class="form-group">
                                    <label for="selectedDate">Selected Date</label>
                                    <input class="form-control" id="selectedDate" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                </div>

                                <!-- Conversion Information -->
                                <div class="form-group">
                                    <label for="converted-amount">Converted Amount</label>
                                <input class="form-control" id="converted-amount" type="text" readonly>
                                </div>

                                <!-- Convert Button -->
                                <div class="_ccCalculator__cta_agd50_90">
                                    <button class="btn btn-primary btn-lg btn-block" id="convert-button" onclick="updateConvertedAmount()">Convert</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="exchange-rates-table">
        <h2 class="table-title">Foreign exchange rates of the day</h2>

            <div class="table-responsive">
                <table class="table table-bordered table-hover modern-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>From Currency</th>
                            <th>To Currency</th>
                            <th>Buy Rate</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="exchange-rate-table-body">

                        @foreach (var rate in Model.Where(r => r.Date.Date == DateTime.Now.Date))
                        {
                            <tr>
                                <td>@rate.FromCurrency</td>
                                <td>@rate.ToCurrency</td>
                                <td>@rate.BuyRate.ToString("F3")</td>
                                <td>@rate.Date.ToString("yyyy-MM-dd")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="~/js/currency-converter.js"></script>
